@font-face
{
	font-family: friends;
	src: url(images/friends.ttf);
}

body {
	height: 100%;
	margin: 0;
	
	color: #000000;
	font: 16px/24px sans-serif;
	
	background-repeat: repeat-y;
	/*background-size: 100% 100%;*/
	/*
	background-image: -webkit-linear-gradient(180deg, #B601b3,
		#B601B3 2%, #9106D3 4%, #6B16EC 6%, #472FFA 8%, #2850FE 10%,
		#1175F7 12%, #039BE5 14%, #01BECA 16%, #0ADCA8 18%, #1DF283 20%,
		#3AFD5D 22%, #5CFD3A 24%, #82F21E 26%, #A7DD0A 28%, #C9BF01 30%,
		#E49C03 32%, #F77610 34%, #FE5127 36%, #FB3046 38%, #EC166A 40%,
		#D40690 42%, #BF01B5 44%, #8F06D5 46%, #9106D3 48%, #6B16EC 50%,
		#472FFA 52%, #2850FE 54%, #1175F7 56%, #039BE5 58%, #01BECA 60%,
		#0ADCA8 62%, #1DF283 64%, #3AFD5D 66%, #5CFD3A 68%, #82F21E 70%,
		#A7DD0A 72%, #C9BF01 74%, #E49C03 76%, #F77610 78%, #FE5127 80%,
		#FB3046 82%, #EC166A 84%, #D40690 86%, #BF01B5 88%, #8F06D5 90%,
		#9106D3 92%, #6B16EC 94%, #472FFA 96%, #2850FE 98%, #1175F7);
	background-image: -moz-linear-gradient(180deg, #B601b3,
		#B601B3 2%, #9106D3 4%, #6B16EC 6%, #472FFA 8%, #2850FE 10%,
		#1175F7 12%, #039BE5 14%, #01BECA 16%, #0ADCA8 18%, #1DF283 20%,
		#3AFD5D 22%, #5CFD3A 24%, #82F21E 26%, #A7DD0A 28%, #C9BF01 30%,
		#E49C03 32%, #F77610 34%, #FE5127 36%, #FB3046 38%, #EC166A 40%,
		#D40690 42%, #BF01B5 44%, #8F06D5 46%, #9106D3 48%, #6B16EC 50%,
		#472FFA 52%, #2850FE 54%, #1175F7 56%, #039BE5 58%, #01BECA 60%,
		#0ADCA8 62%, #1DF283 64%, #3AFD5D 66%, #5CFD3A 68%, #82F21E 70%,
		#A7DD0A 72%, #C9BF01 74%, #E49C03 76%, #F77610 78%, #FE5127 80%,
		#FB3046 82%, #EC166A 84%, #D40690 86%, #BF01B5 88%, #8F06D5 90%,
		#9106D3 92%, #6B16EC 94%, #472FFA 96%, #2850FE 98%, #1175F7);
	background-image: -o-linear-gradient(180deg, #B601b3,
		#B601B3 2%, #9106D3 4%, #6B16EC 6%, #472FFA 8%, #2850FE 10%,
		#1175F7 12%, #039BE5 14%, #01BECA 16%, #0ADCA8 18%, #1DF283 20%,
		#3AFD5D 22%, #5CFD3A 24%, #82F21E 26%, #A7DD0A 28%, #C9BF01 30%,
		#E49C03 32%, #F77610 34%, #FE5127 36%, #FB3046 38%, #EC166A 40%,
		#D40690 42%, #BF01B5 44%, #8F06D5 46%, #9106D3 48%, #6B16EC 50%,
		#472FFA 52%, #2850FE 54%, #1175F7 56%, #039BE5 58%, #01BECA 60%,
		#0ADCA8 62%, #1DF283 64%, #3AFD5D 66%, #5CFD3A 68%, #82F21E 70%,
		#A7DD0A 72%, #C9BF01 74%, #E49C03 76%, #F77610 78%, #FE5127 80%,
		#FB3046 82%, #EC166A 84%, #D40690 86%, #BF01B5 88%, #8F06D5 90%,
		#9106D3 92%, #6B16EC 94%, #472FFA 96%, #2850FE 98%, #1175F7);
	background-image: -ms-linear-gradient(180deg, #B601b3,
		#B601B3 2%, #9106D3 4%, #6B16EC 6%, #472FFA 8%, #2850FE 10%,
		#1175F7 12%, #039BE5 14%, #01BECA 16%, #0ADCA8 18%, #1DF283 20%,
		#3AFD5D 22%, #5CFD3A 24%, #82F21E 26%, #A7DD0A 28%, #C9BF01 30%,
		#E49C03 32%, #F77610 34%, #FE5127 36%, #FB3046 38%, #EC166A 40%,
		#D40690 42%, #BF01B5 44%, #8F06D5 46%, #9106D3 48%, #6B16EC 50%,
		#472FFA 52%, #2850FE 54%, #1175F7 56%, #039BE5 58%, #01BECA 60%,
		#0ADCA8 62%, #1DF283 64%, #3AFD5D 66%, #5CFD3A 68%, #82F21E 70%,
		#A7DD0A 72%, #C9BF01 74%, #E49C03 76%, #F77610 78%, #FE5127 80%,
		#FB3046 82%, #EC166A 84%, #D40690 86%, #BF01B5 88%, #8F06D5 90%,
		#9106D3 92%, #6B16EC 94%, #472FFA 96%, #2850FE 98%, #1175F7);
*/

	background: #5494DB;
	/*background: #fff;*/
}

h2 {
	font: 32px friends, sans-serif;
}

h3, h4 {
	font-weight: bold;
	border-bottom: 2px solid #ff9900;
}

#voorwaarden h3,
#voorwaarden h4 {
	border: none;
}

p {
	margin: 1em 0;
}

.parallax-panel {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
}

.panel {
	position: relative;
	float: left;
	z-index: 10;
}

.contentpanel {
	margin: 61px auto 16px auto;
	padding: 30px;
	max-width: 740px;
	background: #B6E4FC;
	border-radius: 30px;
}

.foto-commissie {
	width: 100%;
	height: auto;
	border-radius: 15px;
}

.profiel {
	clear: both;
	min-height: 120px;
}

.foto-hoofdje {
	height: 120px;
	width: 120px;
	float: left;
	margin: 0 12px 0 0;
	border-radius: 7px;
}

nav {
	position: fixed;
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
	padding: 4px 0;

	z-index: 20;
	transition: all 250ms;
}

.scrolled nav {
	background: #F0C05C;
	box-shadow: 0 0 10px #333;
}

nav ul {
	line-height: 45px;
}

nav .menu li {
	display: inline;
}

nav .menu li a,
nav .menu li a:visited {
	border-radius: 20px;
	background: #080204;
	padding: 8px 16px;
	color: #F0C05C;
	text-decoration: none;
}

nav .menu li a.visible {
	background: #252F3B;
}

nav .menu li a:hover {
	background: #252F3B;
}

@media(min-width:1000px) {
	.land {
		position: absolute;
		right: 8px;
		top: 12px;
		height: 45px;
	}

	nav .menu li.land a {
		background-color: transparent;
		padding: 0;
	}
}

#inschrijven p.error {
	background: red;
	padding: 12px 24px;
	border-radius: 30px;
	color: white;
}


#inschrijven input.error,
#inschrijven label.error {
	background-color: #ff98b3;
}

#inschrijven textarea {
	width: 100%;
}

input[type=text],
textarea,
button {
	font-size: 16px;
}

.gastenboek-entry {
	display: block;
	padding: 12px;
	border-radius: 15px;
	background: #5494DB;
	margin: 6px 0;
}

.gastenboek-next-page-button {
	width: 100%;
	border-radius: 15px;
	padding: 6px 0;
	background: #080204;
	color: #F0C05C;
	border: none;
	cursor: pointer;
}

form .gastenboek-naam,
form .gastenboek-email {
	display: block;
	width: 50%;
	float: left;
}

form .gastenboek-bericht {
	display: block;
	width: 100%;
}

#gastenboek form textarea,
#gastenboek form input[type=text] {
	width: 80%;
	margin: 0;
	padding: 1%;
	border: 1px solid #333;
}

#gastenboek form textarea {
	width:90%;
}

form label span {
	display: block;
}

.contentpanel ul {
	list-style: disc;
	padding-left: 1.5em;
}

.contentpanel ul ul {
	list-style: circle;
}

#voorwaarden {
	counter-reset: section;
}

#voorwaarden h4 {
	counter-increment: section;
}

#voorwaarden > ul {
	counter-reset: subsection;
	list-style: none;
}

#voorwaarden ul {
	padding-left: 40px;
}

#voorwaarden li:before {
	display: inline-block;
	margin-left: -40px;
	width: 40px;
	text-align: left;
	font-style: italic;
}

#voorwaarden > ul > li:before {
	counter-increment: subsection;
	content: counter(section) "." counter(subsection);
}

#voorwaarden > ul > ul {
	counter-reset: subsubsection;
	list-style: none;
}

#voorwaarden > ul > ul > li:before {
	counter-increment: subsubsection;
	content: counter(section) "." counter(subsection) "." counter(subsubsection);
}

.asset-head {
	position: absolute;
	height: 80%;
	bottom: 0;
}

.asset-flying {
	position: absolute;
	height: 50%;
	top: 0;
}

/* Media queries voor kleine schermpjes */

@media(max-width:1000px) {
	/* Parallax-effect is toch niet zichtbaar */
	.parallax-panel {
		display: none;
	}

	/* Panelen gewoon onder elkaar, geen fancyness */
	.panel {
		clear: left;
	}

	/* Panelen zweven niet langer, ronde randjes is lelijk */
	.contentpanel {
		border-radius: 0;
	}

	/* Statische nav */
	body {
		margin-top: 192px;
	}

	nav {
		position: absolute;
		height: 192px;
	}

	nav .menu li a {
		border-radius: 0;
		float: left;
		width: 50%;
		height: 48px;
		margin: -1px;
		padding: 0;
		text-indent: 12px;
		border: 1px solid #000;
		display: block;
		text-align: left;
	}

	nav .menu li.land a img {
		height:26px;
		width:48px;
	}

	nav .menu li a.visible {
		
	}

	nav .menu li a:hover,
	nav .menu li a:active {
		
	}

	form table td {
		display: block;
	}

	form table td input[type=text] {
		width: 100%;
	}
}
